h1 {
    margin-top: 5px;
    text-align: center;
    font-family: Roboto Slab
}

div {
    font-family: Roboto;
}

canvas {
    margin-top: 5px;
    border: 3px solid black;
	display: block;
}

#clr {
    margin-top: 3px;
    padding: 0px 5px 0px 5px;
    box-shadow: 2px 2px gray;
    font-size: 20px;
    border: 1px solid black;
}

